.regex_rule {
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: text-top;
}

.allow_options {
  padding-right: 0px;
  padding-left: 10px;
}

#invalidPhonesCountDisplay {
  padding-top: 10px;
}

#invalidPhonesCountDisplay {
  padding-top: 10px;
}
